<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stonks - Sign up</title>
</head>
<body>
    <nav><a href="/home">Home</a><br/><a href="/about">About</a><br/><a href="/game">Game</a><br/><a href="/signup">Sign up</a></nav>
    <h1>Stonks</h1>
    <form action="/signup" method="post" th:object="${signUpRequest}">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required th:field="*{username}"/><br/>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" th:field="*{password}"/><br/>
        <input type="submit" value="Sign up"/><br/>
        <input type="reset" value="Reset"/>
    </form>
</body>
</html>
