<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stonks - User Page</title>
</head>
<body>
    <nav><a href="/home">Home</a><br/><a href="/about">About</a><br/><a href="/game">Game</a><br/><a href="/signup">Sign up</a></nav>
    <h1>User page</h1>
    <p>Id: <span th:text="${id}">id</span></p>
    <p>Username: <span th:text="${username}">username</span></p>
    <br/>
    <p>sample text</p>
</body>
</html>
